#graph-area {
    margin: auto;
    height: 650px;
    width: 1200px;
    padding: 0;
    border: 1px solid rgb(0, 0, 0);
}

#header {
    text-align: center;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}

#alg-name {
    font-size: 25px;
    text-align: left;
    font-family: Monospace;
    font-weight: bold;
}
#alg-seek {
    font-size: 20px;
    text-align: left;
}
.column {
    padding: 15px;
    display: flex;
}

.column1 {
    float: left;
    width: 95wv;
    padding: 15px;
    margin: 10px
}

.butn {
    margin-top: 2.5%;
    height: 41px;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row1 {
    padding-right: 15px;
    height: 24vh;
    margin-bottom: 0%;
}

.body_name {
    background-color: #4e6867;
}

.theo{
    color: brown;
}

.button {
    background-color: #FCBA28;
    color: #0f0d0e;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.5s;
    font-family: 'Outfit', sans-serif;
    font-weight: 550;
}

.button1 {
    background-color: #0f0d0e;
    color: #FCBA28;
    border-radius: 5px;
    border: 2px solid #FCBA28;
}

.button1:hover {
    background-color: #FCBA28;
    color: #0f0d0e;
}

nav {
    background-color: #0f0d0e;
    height: 90px;
    display: flex;
    justify-content: space-between;
    background: rgba(10, 4, 4, 0);
    position: relative;
}

.logo {
    border-radius: 12px;
    margin: 15px;
    margin-left: 4%;
    padding: 18px 10px 2px 10px;
    background: #231F20;
    color: #f9f4da;
    text-align: center;
    font: 20px 'Outfit', sans-serif;
    justify-content: center;
    font-weight: bolder;
    cursor: pointer;

}

.logo:hover {
    color: #FCBA28;
}

ul {
    list-style: none;
    margin-right: 4%;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100%;
}

li {
    margin: 0 20px;

}

a {
    color: #FCBA28;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

/* dropdown*/
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 135px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background: rgba(2, 2, 0, 0.45);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);

}

.dropdown-content a {
    color: #FCBA28;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    cursor: pointer;
    transition-duration: 0.25s;
    font-family: 'Outfit', sans-serif;
    font-weight: 550;
    font-size: small;

}

.dropdown-content a:hover {
    background-color: #FCBA28;
    color: #0f0d0e;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.fun {
    padding-top: 23vh;
    height: 80vh;
    width: 100vw;
}